[class *= "col"] {
  padding: 1rem;
  background-color: white;
  border: 2px solid black;
  color: white;
}

body {
  background-color: rgb(213, 165, 165);
}

.intro-title {
  font-family: "lindsey-signature", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 170px;
}