body {
  background: rgba(213,165,165,1);
  background: linear-gradient(0deg, rgba(81,132,157,1) 10%, rgba(213,165,165,1) 30%);
}

.intro-title, .intro-1, .mv-title  {
  font-family: "lindsey-signature", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 12rem;
  width: 40%;
  padding-left: 5%;
  font-weight: 800;
}

.about-description {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 2.7rem;
  color: white;
  width: 70%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
}

.intro-1{
  font-size: 9rem;
  width: 100%;
  padding-top: 10%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.description-text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  color: white;
  font-size: 2.9rem;
  padding-left: 15%;
  padding-top: 13%;
  line-height: 110%;
}

.soobin-description,
 .yeonjun-description,
 .beomgyu-description,
 .taehyun-description,
 .kai-description {
  font-size: 2.4rem;
  color: black;
  font-family: 'Cormorant Garamond', serif;
  background-color: white;
  opacity: 0.2;
  padding: 6%;
  border-radius: 10px;
}

#album-container, #mv-container {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.mv-title {
  font-size: 10rem;
  width: 100%;
  text-align: center;
  padding: 0;
  padding-top: 8%;
}

#image {
  padding-top: 5%;
}

.footer-text {
  color: white;
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Cormorant Garamond', serif;
  align-self: flex-end;
}

@media only screen and (max-width: 600px){
  .intro-title {
    font-size: 4rem;
  }

  .description-text {
    padding-top: 28%;
    font-size: 14px;
    line-height: 130%;
    padding-right: 15%;
  }

  .about-description {
    font-size: 1.5rem;
    width: 100%;
  }

  #about-img1, #about-img2 {
    padding: 0%;
    width: 100%;
  }

  #about-img1 {
    margin-right: -3%;
  }

  #about-img2 {
    margin-top: -40%;
  }

  .intro-1, .mv-title {
    font-size: 5rem;
    justify-content: center;
    padding: 0;
    padding-top: 12%;
  }

  .soobin-description, 
  .yeonjun-description,
  .beomgyu-description,
  .taehyun-description,
  .kai-description {
    margin-top: 5%;
    font-size: 1.5rem;
    line-height: 120%;
  }


  #member1, #member2 {
    margin: 0;
  }

  .album-iframe{
    width: 95%;
  }

  .mv-iframe {
    height: 100%;
    width: 70%;
  }

  #album-container {
    padding-top: 10%;
  }

  #image {
    padding-top: 10%;
  }

  .footer-text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1110px){
  .intro-title {
    font-size: 6rem;
  }

  .description-text {
    padding-top: 20%;
    font-size: 24px;
    line-height: 130%;
    padding-right: 10%;
  }

  .about-description {
    font-size: 2.5rem;
    width: 100%;
  }
  
  #about-img1, #about-img2 {
    width: 100%;
  }

  #about-img2 {
    margin-top: -20%;
    width: 8%;
  }

  .intro-1, .mv-title {
    font-size: 7rem;
    justify-content: center;
    padding: 0;
    padding-top: 12%;
  }

  .soobin-description,
  .yeonjun-description,
  .beomgyu-description,
  .taehyun-description,
  .kai-description {
    margin-top: 5%;
    font-size: 1.7rem;
    margin-right: -20%;
    line-height: 120%;
  }

  .album-iframe {
    width: 95%;
  }

  .mv-iframe {
    height: 150%;
    width: 60%;
  }

  #album-container {
    padding-top: 10%;
  }

  .footer-text {
    font-size: 1.5rem;
  }
}