body {
  background: rgba(213,165,165,1);
  background: linear-gradient(0deg, rgba(81,132,157,1) 10%, rgba(213,165,165,1) 30%);
}

#album-promotion-container {
  background-color: rgb(218, 0, 0, 0.2);
  position: absolute;
  width: 300px;
  height: 300px;
  left: 0;
  margin-left: 4%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

#promotion-image {
  width: 200px;
  height: 200px;
  margin-top: 16%;
}

.intro-title, .member-name, .mv-title, .group-name, .showcase-title  {
  font-family: "lindsey-signature", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 12rem;
  width: 40%;
  padding-left: 5%;
  font-weight: 800;
}

.group-name {
  width: 50%;
  position: absolute;
  align-self: self-end;
  right: 0;
  margin-right: 15%;
  font-size: 6rem;
}

.about-description {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 2.7rem;
  color: white;
  width: 70%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
}

.member-name{
  font-size: 9rem;
  width: 100%;
  padding-top: 10%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.about-intro {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  color: white;
  font-size: 2.9rem;
  padding-left: 15%;
  padding-top: 13%;
  line-height: 110%;
}

.member-description {
  font-size: 2.4rem;
  color: black;
  font-family: 'Cormorant Garamond', serif;
  background-color: white;
  opacity: 0.2;
  text-align: center;
  padding: 4%;
  border-radius: 8px;
}

#album-container, #mv-container {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.mv-title, .showcase-title {
  font-size: 10rem;
  width: 100%;
  text-align: center;
  padding: 0;
  padding-top: 8%;
}

.showcase-title {
  font-size: 6rem;
}

#album-image {
  padding-top: 5%;
}

#footer-text {
  color: white;
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Cormorant Garamond', serif;
  align-self: flex-end;
}

@media only screen and (max-width: 600px){
  .group-name {
    font-size: 1.5rem;
  }

  #album-promotion-container {
    height: 100px;
    width: 100px;
  }

  #promotion-image {
    height: 75px;
    width: 75px;
    margin: auto;
  }

  .intro-title {
    font-size: 4rem;
  }

  .about-intro {
    padding-top: 28%;
    font-size: 14px;
    line-height: 130%;
    padding-right: 15%;
  }

  .about-description {
    font-size: 1.5rem;
    width: 100%;
  }

  #about-img1, #about-img2 {
    padding: 0%;
    width: 100%;
  }

  #about-img1 {
    margin-right: -3%;
  }

  #about-img2 {
    margin-top: -40%;
  }

  .member-name, .mv-title, .showcase-title {
    font-size: 4.6rem;
    justify-content: center;
    padding: 0;
    padding-top: 12%;
  }

  .member-description{
    margin-top: 5%;
    font-size: 1.5rem;
    line-height: 120%;
  }

  .album-iframe{
    width: 95%;
  }

  .mv-iframe {
    height: 100%;
    width: 70%;
  }

  #album-container {
    padding-top: 10%;
    padding-bottom: 20%;
  }

  #album-image {
    padding-top: 10%;
  }

  #footer-text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1110px){
  .group-name {
    font-size: 4rem;
  }

  #album-promotion-container {
    height: 250px;
    width: 250px;
  }

  #promotion-image {
    height: 175px;
    width: 175px;
    margin: auto;
    margin-left: 10%;
  }

  .intro-title {
    font-size: 6rem;
  }

  .about-intro {
    padding-top: 20%;
    font-size: 24px;
    line-height: 130%;
    padding-right: 10%;
  }

  .about-description {
    font-size: 2.5rem;
    width: 100%;
  }
  
  #about-img1, #about-img2 {
    width: 100%;
  }

  #about-img2 {
    margin-top: -20%;
    width: 8%;
  }

  .member-name, .mv-title, .showcase-title {
    font-size: 7rem;
    justify-content: center;
    padding: 0;
    padding-top: 12%;
  }

  .member-description {
    margin-top: 5%;
    font-size: 1.8rem;
    margin-right: 9%;
    line-height: 120%;
  }

  .album-iframe {
    width: 95%;
  }

  .mv-iframe {
    height: 90;
    width: 98;
  }

  #album-container {
    padding-top: 10%;
    padding-bottom: 20%;
  }
  #mv-container {
    padding-right: 5%;
    padding-left: 5%;
  }

  #footer-text {
    font-size: 1.2rem;
  }
}